// Fontes
$font-3: "Bree Serif", serif;
$font-1: "Montserrat", sans-serif;
$font-2: "Oswald", sans-serif;
$tamanho-da-font: 3rem;

// Cores
$cor-1: #ccc6bd;
$cor-2: #271e21;
$cor-3: #cd951c;
$cor-4: #7c430d;
$cor-5: #7b7771;
