@import "../abstract/variaveis";

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  p {
    font-family: $font-2;
    font-size: $tamanho-da-font;
  }
  nav ul li {
    display: inline;
    margin: 1rem;
    &:hover {
      text-decoration: underline;
    }
    a {
      text-decoration: none;
      color: $cor-2;
      font-family: $font-1;
      font-size: $tamanho-da-font / 2;
    }
  }
}
